<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            color: rgb(156, 36, 6);
            font-size: x-large;
        }

        ul {
            font-size: 20px;
            color: rgb(22, 21, 21);
        }

        li {
            font-size: 15px;
            color: rgb(3, 58, 3);
        }
    </style>
</head>

<body>
    <!-- A variável name será passada pelo mail options e substituída com o valor adequado -->
    <h1>Olá sus</h1>
    <ul>Passo a Passo
        <li>Escolher qual a sua turma</li>
        <li>Enviar email de confirmação de interesse</li>
        <li>Pronto!</li>
    </ul>
</body>

</html>