<!DOCTYPE html>                 <!-- ! = atalho para esqueleto do html  | Doctype indica que arquivo é html-->
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar um ponto de coleta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">  <!--  fontes do google-->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/create-point.css">
    <link rel="stylesheet" href="/styles/responsive.css">
</head>

<body>
    <div id="page-create-point">
        <!--mesmo header do index-->             
        <header>
            <img src="/assets/logo.svg" alt="Logomarca">
            <a href="/">                          
                <span></span>                               
                Voltar para home
            </a>
        </header>

        <!--container formulário-->
        <form action="">
            <h1>Cadastro do ponto de coleta</h1>

            <!-- cointainer coleção de campos-->
            <fieldset>

                <!-- container legenda-->                  
                <legend>                    
                    <h2>Dados da entidade</h2>
                </legend>

                <!--digitar .field emmet cria pa nois-->
                <div class="field">             
                        <label for="">Nome da entidade</label>
                        <input type="text" name="name" required>
                </div>

                <div class="field-group">
                    <!--.field*2, cria dois div class field-->
                    <div class="field">
                        <!--label+input cria ambos em linha--> 
                        <label for="adress">Endereço</label>  
                        <input type="text" name="address">  
                    </div>                                      
                    <div class="field">                    
                        <label for="adress2">Número/Complemento</label>   
                        <input type="text" name="address2">
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <label for="state">Estado</label>  
                        <select name="uf" required>
                            <!--option, nesse caso vazia para poder ser sobrescrito-->
                            <option value="">Selecione o Estado</option>    
                        </select>
                    </div>
                    <div class="field">
                        <label for="city">Cidade</label>
                        <!--"disabled" impossibilita usuario de selecionar, "required" para realizar submit-->   
                        <select name="city" disabled required>               
                            <option value="">Selecione a Cidade</option>
                        </select>
                        <!--input não visível no body-->
                        <input type="hidden" name="state">      
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <!--container generico legenda-->
                <legend>
                    <h2> Itens de coleta </h2>
                </legend>
                <div class="items-grid">
                    <!--dataset, data + qq coisa-->
                    <li data-id="1">                                            
                        <img src="/assets/lampadas.svg" alt="Lâmpadas">
                        <span>Lâmpadas</span>
                    </li>
                    <li data-id="2">                                            
                        <img src="/assets/baterias.svg" alt="Pilhas e Baterias">
                        <span>Pilhas e Baterias</span>
                    </li>
                    <li data-id="3">                                            
                        <img src="/assets/papeis-papelao.svg" alt="Papéis e Papelão">
                        <span>Papéis e Papelão</span>
                    </li>
                    <li data-id="4">                                            
                        <img src="/assets/eletronicos.svg" alt="Resíduos Eletrônicos">
                        <span>Resíduos Eletrônicos</span>
                    </li>
                    <li data-id="5">                                            
                        <img src="/assets/organicos.svg" alt="Resíduos Orgânicos">
                        <span>Resíduos Orgânicos</span>
                    </li>
                    <li data-id="6">                                            
                        <img src="/assets/oleo.svg" alt="Óleo de cozinha">
                        <span>Óleo de cozinha</span>
                    </li>
                </div>
                <input type="hidden" name="items">
            </fieldset>

            <button type="submit"> Cadastrar ponto de coleta </button>

        </form>
    </div>
    <script src="/scripts/create-point.js"></script>        
</body>

</html>