<!DOCTYPE html>
<!-- ! = atalho para esqueleto do html  | Doctype indica que arquivo é html-->
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block title %}
            <!--título padrão no navegador-->
            <title>Ecoleta</title>
        {% endblock title %}
        <!--  fontes do google-->
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/main.css"> 
        {% block styles %}
        {% endblock styles %}
        <link rel="stylesheet" href="/styles/responsive.css">
    </head>
    <body>
        <!--id facilita identificação da página, útil no css-->
        <div id="{{ pageId }}"> 
            {% block content %}
            {% endblock content %}
        </div>
        {% block modal %}
        {% endblock modal %}
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>