<!DOCTYPE html> <!-- ! = atalho para esqueleto do html  | Doctype indica que arquivo é html-->
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--título no navegador-->
    <title>E-coleta</title>

    <!--  fontes do google-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/responsive.css">
</head>

<body>
    <!--id facilita identificação da página, útil no css-->
    <div id="page-home">
    </div>
</body>

</html>