:root{                                /*  acessa raiz do documento, criar variáveis */
    --title-color: #322153;  
    --primary-color: #34cb79;
}

*{                                      /*todos os elementos, seletores*/
    margin: 0;                           /*zera margin e padding em todos as div's*/
    padding: 0;
    box-sizing: border-box;  /*garante o comportamento intuitivo da box*/
}

html{
    font-family: Roboto, sans-serif;    /*fonte para todo doc*/
}

body{
    background: #888888;
    -webkit-font-smoothing: antialiased;  /*efeito visual*/
}

a{
    text-decoration: none;              /*tira todos os underlines automáticos de todos os links*/
}

h1,h2,h3,h4,h5,h6{
    font-family: Ubuntu, sans-serif;       /*sobreescreve fonte padrão*/
    color: var(--title-color);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}


