@media (max-width: 900px){              /*media querys*/
    #page-home{
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home  a{
        margin: 0 auto;
    }

    #page-home header a{
        position: absolute;
        bottom: 48px;

        left: 50%;                      /* metodo para centralizar absolute*/
        transform: translateX(-50%);
    }
}

@media (min-width: 1700px) {
    #page-home{
        background-position-x: 40vw;    /*editar posicionmaneto de imagens*/
    }
}

@media (max-height: 760px) {
    #page-home{
        background-position-y: 200px;
    }
}